extends layout

block extraHeader
	script(type='text/javascript', src='javascripts/interact.min.js')
	script(type='text/javascript', src='javascripts/edit.js')


block content
	div.full-page
		li=JSON.stringify(file)
		div#test
		
			//- img.contain.selectDisable(src="/tmp/" + root)
			//div.markers.draggable
	//div.navbar.navbar-fixed-bottom.footer.franklin-gothic.uppercase
		div.col-lg-4.col-sm-4
			h3 "Step 1"
		div.col-lg-4.col-sm-4
			h3 "Step 2"
		div.col-lg-4.col-sm-4
			h3 "Step 3"
	script(type='text/javascript').
			var file = !{JSON.stringify(blobber)}	

			console.log(file);
			var canvas = document.createElement('canvas'),
			    ctx = canvas.getContext('2d'),
			    parts = [],
			    img = new Image(),
			    url = window.URL || window.webkitURL,
			    src = url.createObjectURL(new File([file], "image"))

			  img.src = src;
			  img.onload = function() {
			    var w2 = img.width / 2, // 130
			      h2 = img.height / 2; // 40

			    for (var i = 0; i < 4; i++) {

			      var x = (-w2 * i) % (w2 * 2),
			        y = (h2 * i) <= h2 ? 0 : -h2;


			      canvas.width = w2;
			      canvas.height = h2;

			      ctx.drawImage(this, x, y, w2 * 2, h2 * 2); // img, x, y, w, h
			      parts.push(canvas.toDataURL()); // ("image/jpeg") for jpeg


			      // ---------- JUST TO TEST
			      var slicedImage = document.createElement("img")
			      slicedImage.src = parts[i];
			      var div = document.getElementById("test");
			      div.appendChild(slicedImage);
			      // ----------

			    }
			    console.log(parts);
			    url.revokeObjectURL(src);
			  }
