
body {
  padding: 50px;
  height: 100vh;
  background-color: #ececec!important;
  /*margin: 0px;*/
  /*background-image: url('http://i.imgur.com/xQxHjAK.gif');*/
  /*background-size: cover;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/** FONTS **/
.franklin-gothic {
	font-family: "Franklin Gothic Book", Arial;
	font-weight: 800;
}

.uppercase {
	text-transform: uppercase;
}


.greybox {
	border-radius: 6px;
	padding: 45px;
	background-color: #fff;
}

div.jumbotron {
	color: white;
	background-color: black;
}

div.jumbotron h1 {
	font-size: 3em;
}

div.full-page {
	display: flex;
	justify-content: center;
	background-color: #656176;
	height: 50vh;
	width: 100%;
}

div.circle {
	display: block;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: 25vh;
	width: 14%;
	height: 0;
	padding-bottom: 50%;
	background-color: #1B998B;
	animation: bounceIn 2s;
}


.rotated {
	transform: rotate(-45deg);
}

div.markers {
	width: 30px;
	height: 30px;
	border-radius: 50% 50% 50% 0;
	background: #F3B61F;
	border: 2px solid black;
	position: relative;
	animation-name: bounce;
	animation-fill-mode: both;
	animation-duration: 1s;
}

div.markers:after {
	content: '';
	width: 14px;
	height: 14px;
	margin: 6px 0 0 6px;
	background: #2f2f2f;
	position: absolute;
	border-radius: 50%;
}

div.center-container {
	width:100%;
	text-align: center;
}

img.contain {
	display: block;
	width: 80vw;
	height: 80vh;
	object-fit: contain;
}

.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}

.footer {
	/*height: 75px;*/
	color: white;
	text-align: center;
	background-color: black;
}

.footer > div:nth-child(2) {
	border-left: 5px solid white;
	border-right: 5px solid white;
}

@keyframes bounceIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}